<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ahamed Sha</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="icon" href="../static/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="bg-image"></div>

    <div class="bg-text">
      <img id="profile" src="../static/images/profile.png" alt="profile">
      <h1 id="name">AHAMED SHA</h1>
      <p id="title">WEB DEVELOPER</p>
      <div class="img">
        <img class="logo" src="../static/images/facebook.png" alt="fb">
        <img class="logo" src="../static/images/instagram.png" alt="insta">
        <img class="logo" src="../static/images/twitter.png" alt="twitter">
      </div>
    </div>
  </body>
</html>
